If:
  PathMatch: PPP/PPP\.ixx
CompileFlags:
  Remove:
    - -fmodule-file=PPP=.modules/PPP.pcm
  Add:
    - -x
    - c++-module

---
If:
  PathMatch: c[0-9]+/.*\.cpp
Diagnostics:
  Suppress:
    - module_unimported_use_header
    - module_unimported_use
